/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=require_tree .
 * require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/theme";

$font-stack:    Helvetica, sans-serif;
//$primary-color: rgb(218, 190, 190);
$background-color: rgb(238, 221, 211);
$container-background-color: rgb(231, 229, 229);
$container-border-color: rgba(119, 119, 119, 0.493);
 
$trivia-branding-color: rgb(206, 114, 1);
$trivia-branding-highlight: rgb(39, 28, 5);
// $width-name: max-device-width;
$target-width: 767px;

html,
body {
    font-family: $font-stack;
    background-color: $background-color;
    width: 100%;
    height: 100%;
}
.container {
    border-left: 1px solid $container-border-color;
    border-right: 1px solid $container-border-color;
    background-color: $container-background-color;

    position: absolute;
    top: 0;
    min-height: 100% !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 15px;
    z-index: 99;
}
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    background: black;
    z-index: 100;
    min-width: 290px;
    
    // Logo
    #branding {
        float: left;
        width: 220px;
        height: 100px;

        h1.logo {
            margin: 10px 0 0 10px;
            padding: 5px;
            height: 60px;
            color: black;
            background-color: $trivia-branding-color;
            white-space: nowrap;
            font-size: 32px;

            a:link, a:visited {
                color: black;
                text-decoration: none;
            }
        }
        .tagline {
            display: block;
            height: 1.5em;
            margin:  2px 0 0 10px;
            font-weight: bold;
            text-align: right;
            color: $trivia-branding-color;
        }
    }
}

.navbar {
    margin: 0;
}

// Small Screen
@media screen and (max-width: $target-width) {
    .container {
        padding-top: 100px;
    }
    #branding {
        width: 170px !important;
        height: 75px !important;

        h1.logo {
            margin: 5px 0 0 5px !important;
            padding: 4px !important;
            height: 45px !important;
            font-size: 26px !important;

            a:link, a:visited {
                color: black;
                text-decoration: none;
            }
        }
        .tagline {
            font-size: 11px !important;
        }
    }
    #message {
        position: absolute;
        top: 0;
        left:0;
        right:0;
        padding-top: 10%;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        z-index: 900;
        
        .alert, .notice {
            height:90%;
            width: 90%;
            margin-left:5%;
            margin-top:5%;

            font-weight: large;
        }
    }
}

// Large Screen
@media screen and (min-width: $target-width + 1) {
    .container {
        padding-top: 120px;
    }
    .navbar-header {
        display:none;
    }
    .navbar-collapse {
        float:right;
    }
    #message {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        z-index: 900;
        vertical-align: middle;
        padding-top: 110px;
        background-color: rgba(255, 255, 255, 0.158);

        .alert, .notice {
            width: 50%;
            padding-top: 40px;
            padding-bottom: 40px;
            margin: 0 auto;
        }
    }
}